@use 'colors';

*
{
    padding: 0;
    margin: 0;
}

body
{   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$body;
}

section.slider-section
{
    div.image-slider
    {
        width: 60%;
        min-width: 300px;
        height: fit-content;
        padding: 20px;
        border: 1px solid colors.$border-color;
        background-color: colors.$image-slider;

        div.slider-body
        {
            background-color: colors.$slider-body;
            height: 400px;
        }

        div.slider-controls
        {
            height: fit-content;
            padding: 10px;
            background-color: colors.$slider-controls;
            display: flex;
            justify-content: center;
            align-items: center;

            span.control-circle
            {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: colors.$control-circle;
            }
        }
    }
}