$body: rgb(255, 255, 255);

$image-slider: rgb(56, 56, 56);

$slider-body: rgb(219, 219, 219);
$slider-controls: rgb(56, 56, 56);

$control-circle: rgb(255, 255, 255);
$control-circle-hover: rgb(92, 92, 92);