@use 'colors';

*
{
    padding: 0;
    margin: 0;
}

body
{   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$body;
}

section.slider-section
{
    div.image-slider
    {
        width: 60vw;
        min-width: 300px;
        height: fit-content;
        padding: 5px;
        background-color: colors.$image-slider;
        overflow: hidden;
        border-radius: 15px;

        div.slider-body
        {
            position: relative;
            border-radius: 10px 10px 0px 0px;
            background-color: colors.$slider-body;
            height: 70vh;
            background-image: url('../images/bigworlds.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        div.slider-controls
        {
            border-radius: 0px 0px 10px 10px;
            height: fit-content;
            padding: 10px;
            background-color: colors.$slider-controls;
            display: flex;
            justify-content: center;
            align-items: center;

            span.control-circle
            {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                border: 2px solid colors.$control-circle;
                background-color: colors.$control-circle;
                margin: 0px 10px;
                cursor: pointer;

                &:hover {
                    background-color: colors.$control-circle-hover;
                    border: 2px solid colors.$control-circle;
                }
            }
        }
    }
}